<h3>Runner</h3>
<table class="ui stripped table">
    <thead>
    <tr>
        <th>Runs Count</th>
        <th>Runs Interval</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>{{info.runsCount}}</b></td>
            <td>{{info.timeout}}</td>
        </tr>
    </tbody>
</table>

<h3>Tasks</h3>
<table class="ui stripped table">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each info.tasks}}
        <tr class="{{this.state}}">
            <td><b>{{this.name}}</b></td>
            <td> <a class="ui mini label {{this.state}}">{{this.state}}</a></td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Reporters</h3>
<table class="ui compact table">
    <thead>
    <tr>
        <th>Name</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each info.reporters}}
        <tr>
            <td><b>{{this.name}}</b></td>
            <td> <a class="ui mini label {{this.state}}">{{this.state}}</a></td>
            <td></td>
        </tr>
    {{/each}}
    </tbody>
</table>
