<br>
<a class="ui icon mini basic button" href="?type=INFO">INFO</a>
<a class="ui icon mini basic button" href="?type=WARNING">WARNING</a>
<a class="ui icon mini basic button" href="?type=ERROR">ERROR</a>
<a class="ui icon mini basic button" href="?">ALL</a>

<table class="ui stripped compact table unstackable logs">
    <thead>
    <tr>
        <th>
            {{name}} LOGS
            <button class="ui icon mini red basic button right floated" onclick="clearLogs()">
                <i class="trash alternate outline icon"></i> Clear logs</button>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#each logs}}
         <tr>
            <td class="{{this.type}}">
                <span class="ui label {{this.type}}">{{this.type}}</span>
                {{this.message}}
            </td>
        </tr class="center aligned">
    {{/each}}

        </tbody>
</table>

<script>
    async function postData(url = '', data = {}) {
        const response = await fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            },

        });
        return response.json();
    }

    async function clearLogs(){
        await postData(window.location.href, {logs: []});
        window.location.reload();
    }
</script>